#root {

  margin: 0 auto;
  padding:2rem;
  text-align: center;
  font-family: "Host Grotesk", sans-serif;
  position: relative;
  height: 100%;
  box-sizing: border-box;

}
body{
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

img.wally{
  height: 75vh;
}
img.characters{
  width: 300px;
}
.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.selectedArea{

  position:absolute;
}
.box{
  width:25px;
  height: 25px;
  border: 2px red solid;
}
.dropdown{
  display: none;
  background-color: grey;
}
.selectedArea:hover .dropdown{
  display: block;
}
.dropdown div:hover {background-color: #ddd;}
