#root {

  margin: 0 auto;
  padding:2rem;
  text-align: center;
  font-family: "Host Grotesk", sans-serif;

  height: 100%;
  box-sizing: border-box;

}
body{
  margin: 0;
  box-sizing: border-box;
}

img.wally{
  height: 100%;
}
img.characters{
  width: 50px;
}
.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imageContainer{
  height: 85vh;
  position: relative;
  max-width: fit-content;
  margin:0 auto;
  
}
.selectedArea{
  position:absolute;
}
.box{
  width:25px;
  height: 25px;
  border: 2px red solid;
}
.dropdown{
  display: none;
  background-color: grey;
}
.selectedArea:hover .dropdown{
  display: block;
}
.dropdown div:hover {background-color: #ddd;}
