#root {

  margin: 0 auto;
  padding:2rem;
  text-align: center;
  --royal-blue-traditional: #0a2463ff;
  --slate-gray: #6e7e85ff;
  --honeydew: #e5f4e3ff;
  --lavender-pink: #efaac4ff;
  --pink: #ffc4d1ff;
  font-family: "Host Grotesk", sans-serif;
  position: relative;
  height: 100%;
}
body{
  
  margin: 0;
}

img{
  height: 70vh;
}
.selectedArea{
  width:25px;
  height: 25px;
  border: 2px red solid;
  position:absolute;
}